<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Dependency Reporter</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Dependency Reporter</h1>
      <hr>
      <form method="post" action="/register">
        <input type="text" name="url" placeholder="https://github.com/owner/repository" value="https://github.com/adonisx/adonisx-cli" />
        <input type="text" name="emails" placeholder="jane@mail.com,john@mail.com" value="i.ozguradem@gmail.com;ozgur@ozgurmail.net" />
        <button type="submit">Analyze & Register</button>
      </form>
    </div>
  </body>
</html>