<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Outdated Dependencies</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Outdated Dependencies</h1>
      <form method="post" action="/register">
        <input type="text" name="url" placeholder="https://github.com/owner/repository" value="https://github.com/atolye15/nest-emitter" />
        <input type="text" name="emails" placeholder="jane@mail.com,john@mail.com" value="jane@mail.com;john@mail.com" />
        <button type="submit">Analyze & Register</button>
      </form>
    </div>
  </body>
</html>